body {
    font-family: Arial;
    background-color: #F1D0B7;
    text-align: center;
    color: #3A8D80;
}

hr{
    max-width: 50px;

}

img{
    border-radius: 100%;
}

h1{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 26px;
}

small{
    color: #708090;
}

#links-sociais{
    margin-bottom: 50px;
    margin-top: 15px;
}

#links-sociais img{
    margin-left: 5px;
    margin-right: 5px;
}

ul{
    margin: 0;
    padding: 0;
}
#capa{
    background-image: url(imagens/bolhas.png);
    height: 220px;
    border-radius: 8px;
}
#perfil{
    margin-top: -70px;
}

#perfil img{
    border-width: 10px;

    border-color: #EFF2F7;
    border-style: solid;
}
#links-externos li{
    margin-bottom: 3px;
    list-style: none;

}

#links-externos a{
    text-decoration: none;
    color: 3A8D80;
    background-color: white;
    display: block;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
}
#links-externos a:hover{
    background-color: #3A8D80;
    color: white
}
#pagina{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}